/* Large screen  */

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .header {
    max-width: 1002px;
    margin-left: 3%;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1002px;
    margin-left: 3%;
  }
  .footer-content {
    margin-left: 3%;
    max-width: 1002px;
  }
}

/* medium screen */

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .header {
    max-width: 670px;
    margin-left: 1%;
  }
  .content {
    grid-template-columns: repeat(2, 1fr);
    max-width: 670px;
    margin-left: 2%;
  }
  .footer-content {
    margin-left: 1%;
    max-width: 670px;
  }
}

/* small screen  */

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 670px;
    margin: 0;
  }
  .card {
    justify-self: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-right: 0px;
    margin-top: 0px;
  }
}
